body {
}

#rightColumn {
    float: right;
    width: 25%;
}
#leftColumn {
    width: 73%;
    border-right: 1px dashed teal;
}
#frontendDev section:nth-child(odd) h3, #frontendDev section:nth-child(even) h3 {
    margin: 10px 75px;
}

#frontendDev section p {
    margin: 0 75px;
}
#frontendDev section {
    width: 85%;
    margin: 0 auto
}
/*Index.html floated images*/
#html, #js {
    float: right;
    height: 75px;
    margin-left: 20px;
}

#css {
    float: left;
    height: 75px;
    margin-right: 20px;
}
.mainWrapper, .asideWrapper {
    padding: 1%;
}