body {
   
}

h1 {
    font-family: 'Oswald', sans-serif;
}

body main {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
}
body main section article{ /*font for classes bottom page*/
font-size: 16px;
}

body section article section p {
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-family: 'Oswald', sans-serif;
}
h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: black;
    padding-left: 30px;
}
h5 {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 35px;
}