

body {
   
}

h1 {
    font-family: 'IM Fell DW Pica', serif;
    color: black;
}

body main {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 30px;
    text-align: center;
}
body main section article{ /*font for classes bottom page*/
font-size: 16px;
}

body section article section p {
    font-family: 'Montserrat', sans-serif;
}

h3 {
  
}
h2 {
    font-family: 'IM Fell DW Pica', serif;
    color: rgb(185, 175, 42);
}
h4 {
font-family: 'IM Fell DW Pica', serif;
    font-size: 35px;
    color: black;
    padding-left: 30px;
}
h5 {
font-family: 'IM Fell DW Pica', serif;
    color: black;
    font-size: 35px;
}
h6 {
    font-family: 'IM Fell DW Pica', serif;
    color: rgb(185, 175, 42);
}