
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 25px;
    border: 10px solid #010101;
    background: white;
}

body { /*background*/
    background-color: white;
    background-repeat: repeat;
}

.infoStyle {
    border-bottom: double;
    border-top: double;
    border-color: white;
    font-weight: bold;
}

.backgroundOpacity { /*adds shading to background photo*/
    height: 100%;
    border: -50px;
    bottom: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/book.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*The university sign on left each page*/
.style {
    position: relative;
    top: -35px;
    text-align: left;
    font-size: 25px;
    color: black;
}

#leftColumn{
    float:left;
    width: 75%;
    border-right: 2px solid white;
}
#rightColumn {

    width: 20%;
}

/*PHOTOS FOR TEAM PAGES*/
#ps {
    float: right;
    height: 200px;
    margin: 0 10px 0 5px;
    border: 5px solid white;
}
#mm {
    float: right;
    height: 200px;
    margin-left: 10px;
    margin: 0 10px 0 5px;
    border-left: 30px;
    border: 5px solid white;
}
#ss {
    float: left;
    height: 200px;
    margin-right: 10px;
    margin: 0 5px 0 10px;
    border-right: 30px;
    border: 5px solid white;
}
#ff {
    float: left;
    height: 200px;
    margin-right: 10px;
    margin: 0 5px 0 10px;
    border-right: 30px;
    border: 5px solid white;
}
#hs {
    float: right;
    height: 200px;
    margin: 0 10px 0 5px;
    border: 5px solid white;
}

#st {
    float: left;
    height: 200px;
    margin-right: 10px;
    margin: 0 5px 0 10px;
    border-right: 30px;
    border: 5px solid white;
}

#du {
    float: right;
    height: 200px;
    margin: 0 10px 0 5px;
    border: 5px solid white;
}
#ab {
    float: left;
    height: 200px;
    margin-right: 10px;
    margin: 0 5px 0 10px;
    border-right: 30px;
    border: 5px solid white;
}

#cf {
    float: right;
    height: 200px;
    margin: 0 10px 0 5px;
    border: 5px solid white;
}
h1 {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 45px;
}

h2 {
    color: ghostwhite;
    text-align: center;
    font-size: 45px;
    padding-left: 100px;
    text-decoration: double;
}

h3 {
    text-align: center;
    padding-left: 300px; /*to get text under "why choose us" directly below it*/
    font-size: 25px;
    color: white;
    padding-left: 100px;
}
.small{
    font-size: 15px;
}

header h1, header p { /*top left of page*/
    margin: 7px 0 7px 150px;
}

header h1 { /*Top left of the page*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    color: black;
    text-align: left;
    letter-spacing: .1em;
}

body main section { /*for class table section*/
}

body section article section p { /*Paragraphs within homepage*/
    font-size: 20px;
    color: ghostwhite;
}

p { /*all paragraphs*/
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: ghostwhite;
}

.bio section { /*about us and all under*/
    width: 85%;
    margin: 0 auto;
}

.team { /*photo on home page*/
    float: left;
    height: 150px;
    margin-right: 20px;
    box-shadow: 10px 10px 5px #ccc;
}

.collaboration { /*photo on home page*/
    float: right;
    height: 200px;
    margin-right: 20px;
    box-shadow: 10px 10px 5px #ccc;
}

.top-social { /*top right social media*/
    position: relative;
    z-index: 300;
    float: right;
    padding-top: 50px;
    padding-right: 5px;
    height: 150px;
    font-size: 1.5em;
}

.bottom-social { /*top right social media*/
    position: relative;
    z-index: 300;
    float: right;
    padding-top: 10px;
    padding-right: 5px;
    height: 150px;
    font-size: 2em;
}
/*FOR THE NAV BAR*/
#navlist li {
    display: inline;
    padding-right: 0.2em;
    padding-left: 0.4em;
    border-right: 1px solid #009;
    margin: 0;
}

    #navlist li.last {
        border: none;
    }

#navlist {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

    #navlist a {
        color: black;
        text-decoration: none;
    }

        #navlist a:hover {
            color: #a30bb4;
            text-decoration: underline;
        }

body section article { /*text in contact footer section*/
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
}

body main section div { /*text within boxes on Class page*/
    color: ghostwhite;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman';
    text-align: left;
    height: 100%;
    margin: 0;
}

.brand-contact { /*For border on top of page*/
    background-attachment: fixed;
    min-height: 0px;
    background-color: white;
    border-top: 20px;
}

.brand-contact-bottom { /*For border below the page*/
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 0px;
    background-color: white;
    padding-top: 10px;
    text-align:center;
}

.headerOverlay { /*FOR HEADING AND PHOTO IN TOP LEFT*/
    background-image: url('../images/wand.jpg');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 3% center;
    z-index: 1030;
}
/*FOR TABLE IN CLASSES*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 25%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 3px, 3px, 3px, 2px;
}
td{
    background-color:#5c5959;
    opacity: .8;
    
}
th{
    background-color:white;
}
/*END TABLE FOR CLASSES*/
body section section { /* contact page email to address*/
    text-align: center;
    color: ghostwhite;
}

/*FOR CLASS PAGE WITH */
.box {
    float: left;
    width: 30%;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid white;
    height: 200px;
    color: white;
}
/*END FOR CLASSES REGION*/

/*ID's for box to pop to and change between screens*/
#one{
}
#two {
}
#three {
}
#four {
}
#five {
}
#six {
}
/*FOR CLASS TO POP TO SECTION*/




/*region for social media*/

a:hover {
    color: blue;
    text-decoration: underline;
}


a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}


.contentLeft { /*all the boxes in the class page*/
    width: 20%;
    height: 200px;
    padding: 50px;
    border: 5px solid white;
    text-align: left;
    float: left;
    margin: 40px;
}
/*end region*/

/*For Admin Side Nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1030; /*higher # puts it above, negative or lower number puts it behind*/
    top: 0; /*all the way to the top*/
    left: 0; /*all the way to the left*/
    background-color: rgba(0,0,0,.9);
    overflow-x: hidden;
    padding-top: 100px;
    transition: .5s; /*important because when you change from one state of an element to another the transition will last .5s*/
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: .3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.close-btn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.button {
    font-family: sans-serif;
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 20px;
    z-index: 1030;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
}

.vertical-text {
    position: absolute; /*moves it around the parent element (i.e body main div...etc.)*/
    top: 45%;
    left: 0;
    writing-mode: vertical-lr; /*To get text to go vertical*/
    color: white;
    font-weight: bold;
}
