body {
}

header {
    background-color: ghostwhite;
}
body header h1 {
    text-align:center;
    text-decoration:underline;
    font-weight: bold;
}
body h3 {
    font-size: 20px;
}
body h2 {
    color:maroon;
    text-decoration:underline;
    font-size:30px
}
body article h2 {
    font-size: 20px;
    text-align: center;
}
body article ul {
    font-size: 20px;
    text-align:center;
}
body section {
    font-family: 'Satisfy', 'Times New Roman';
    font-size: 20px
}
body aside article {
    text-align:center;
}
body h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman'
     
}

.bg{
    height: 50%;

}
body nav right ul li {
    display: inline-block;
    height: 50px;
    text-align:right;
    margin:0 40px 0 0;
    font-size: 20px
}

    header h1, header p {
        text-align: center;
    }
    article ul li {
        text-align:center;
    }

main p {
    font-family: 'Satisfy', cursive;
    text-align:center;
}
body p{
    text-align:center;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}
p.name {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}
p {
    background-color: ghostwhite;
}
aside h2, aside p {
    text-align: center;
}
aside h2 {
    font-size: 40px; 
    font-family: serif;
}
aside p {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

main {
    background-color: ghostwhite;
}
li {
    color:darkolivegreen
}
h1 {
    color: darkolivegreen;
    font-size: 35px;
}

h2 {
    color: maroon;
    font-size: 20px;
}

dl {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: maroon;
}

dt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: maroon;
    font-weight:bold
}


footer {
    font-style: italic;
  text-align: left;
}

nav ul {
    background-color: ghostwhite;
    border-top: 3px dotted green;
    border-bottom: 3px dotted green;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 40px;
}

    .header right {
        padding-top: 8px;
        float: right;
        text-align: right;
    }

.h2 header {
    font-size: 25px;
    font-family: Papyrus, Arial, helvetica
}

h2.name {
    font-family: Papyrus, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: darkgreen;
    background-color: transparent;
    text-decoration: underline;
}


a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

ul {
    direction: rtl;
}

body header p {
    font-size: 20px;
    color: maroon;
    font-family: 'Satisfy', cursive;
}

ul {
    list-style-type: none;
}

body section h2 {
    text-align:right;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
a:hover {
    opacity: 0.7;
    background-color: darkgreen;
    color: lightgreen;
    text-decoration: underline;
}
#team {
    float: left;
    height: 150px;
    margin-right: 20px;
}
#collaboration {
    float: right;
    height: 200px;
    margin-right:20px;
}
body section p {
    
  
    margin: 20px;

}
body article ul{
    margin: 50px;
    text-align:center;
    clear: right;
    float:left;
}
.boxLeft {
    float:left;
    clear:right;
    margin:60px;
}
boxLeft2 {
    float:left;
    clear:right;
    margin:10px;
    padding:10px;
    border: 10px;
}
#container{
    width:100px;
    text-align:center;
}
#left {
    float:left;
    width:100px;
   margin:90px;
}
#right {
    display: inline-block;
    width: 100px;
    margin: 90px;
}
#center {
   display: inline-block;
    margin: 0 auto;
    width: 100px;
    margin: 90px;
}
/*WIll clear floats!*/
.clear {
    clear:both;
}

.boxLeft:after {
    content:"";
    display:block;
    clear:both;
}
body section article ul {
    font-family: 'Times New Roman';
    font-size: 20px;
}
#RachelMalone {
    height: 300px;

}
#MaryMalone {
    height: 300px;

}
#KareleeMalone {
    height: 200px;
}
.img-container {
    text-align:center;
}
#headerOverlay {
    background-image: url(/images/220px-SNice.svg.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 2% center;
    padding: 1em;
}

body h1, body p {
    /*clear the background image area*/
    margin: 7px 0 7px 150px;
    text-align:left;
}

body h1 {
    text-align: left;
    letter-spacing: .1em;
    color: darkolivegreen;
}

header {
    border-radius: 5px;
}
#frontendDev section {
    width: 85%;
    margin: 0 auto;
}
    #leftColumn {
    width: 73%;
    float: left;
    border-right: 1px dashed green;
    box-sizing: border-box;
}
.mainWrapper, .asideWrapper {
    padding: 1%;
}
#rightColumn {
    width: 25%;
    float:right;
    height: 100%;
}
.b {
    font-size: 40px;
    color: darkolivegreen;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

article {
    width: 50%;
    float: left;
    padding: 10px;
   float:none;
}

aside {
    float: right;
    width: 40%;
    float: right;
    color: darkolivegreen;
    padding: 5px;
    margin: 10px;
    height: 100px;
} 
/*#region Social Media Links*/
/*For Social Media Links on top of page*/

#top-social {
    position:relative;
    z-index: 300;
    float:right;
    padding-top:5px;
    padding-right:5px;
    height: 150px;
}

/*#endregion*/

table,tr,td,th {
    border: 1px solid black;
    border-collapse: collapse;
}
section table tr td {
    border:none;
}
th{
    font-weight:bold;
    text-align:center;
}
td,th {
    padding:3em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: ghostwhite;
}

.container {
    margin: 30px auto;
    width: 400px;
    height: 400px;
    background-color: ghostwhite;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
    .box

{
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
}
}